<!DOCTYPE html>
<html lang="ru">
	<head>
		<style>
			body {font-family:"Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",serif;background-color:#eee}
			p {margin: 3px}
		</style>
	</head>
	<body>
		<form style="display: inline-block;" method="post" action="reg">
			<p>Name:<br> <input name="name" /></p>
			<p>Login:<br> <input name="login" /></p>
			<p>Password:<br> <input name="password" /></p>
			<input type="submit" value="reg" />
		</form>
		<form style="display: inline-block; margin-left: 10px" method="post" action="login">
			<p>Login:<br> <input name="login" /></p>
			<p>Password:<br> <input name="password" /></p>
			<input type="submit" value="login" />
		</form>
	</body>
</html>